/* styles.css */
:root {
  --primary-color: #7F00FF;
  --primary-light-color: #cebfdd;
  --primary-dark-color: #5a3f75;
  --secondary-color: #eeff00;
  --secondary-light-color: #f8ff93;
  --secondary-dark-color: #ffd000;
  --background-color-light: #ebe0f5;
  --background-color-dark: #736681;
  --font-color:#333;
}

[data-theme="dark"] {
  --primary-color: #9f4fff;
  --primary-light-color: #b366ff;
  --primary-dark-color: #7a33cc;
  --secondary-color: #ffff4d;
  --secondary-light-color: #ffff80;
  --secondary-dark-color: #e6e600;
  --background-color-light: #1a1a1a;
  --background-color-dark: #2d2d2d;
  --font-color: #ffffff;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

Trans {
  color: var(--font-color);
}

.headerDiv {
  display: flex;
  align-items: right;
}

@font-face {
  font-family: "instagram";
  font-weight: 200;        
  src: url("/fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf"); 
}

@font-face {
  font-family: "instagram";  
  font-weight: 500;      
  src: url("/fonts/Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf"); 
}

.languageButtons {
  width: 100%;
  position: relative; 
  justify-content: flex-end;
  top:10px;
  z-index: 11;        
  display: flex; 
}
#----------------------

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color-light);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  text-align: center;
  margin-top: 16px;
}

li {
  list-style-type: none;
}

a {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
  padding-bottom: 15px; 
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: block;
  overflow: hidden;
  background-color: rgba(127,255,212,0.3);
}

.signup{
  position: absolute;
  right: 0;
  top: 10%;
  width: 100%;
  height: 90%;
  display: inline-block;
  /*background-color: antiquewhite;*/
}

.navigator{
  position: fixed;
  left: 2%;
  top: 20%;
  width: auto;
  height: auto;
  padding: 1% 2% 1% 2%;
  display: inline-block;
  background-color: rgba(233,150,122,0.5);
}
