/* styles.css */
.headerDiv {
  display: flex;
  align-items: right;
}


#----------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

p {
  text-align: center;
  margin-top: 16px;
}

li {
  list-style-type: none;
}

a {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
  padding-bottom: 15px; 
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: block;
  overflow: hidden;
  background-color: rgba(127,255,212,0.3);
}

.signup{
  position: absolute;
  right: 0;
  top: 10%;
  width: 100%;
  height: 90%;
  display: inline-block;
  /*background-color: antiquewhite;*/
}

.navigator{
  position: fixed;
  left: 2%;
  top: 20%;
  width: auto;
  height: auto;
  padding: 1% 2% 1% 2%;
  display: inline-block;
  background-color: rgba(233,150,122,0.5);
}